.titlebar-nav {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 0, 0) 9%, rgb(0, 0, 0)7%); 
    width: 100%;
    color: rgb(255, 0, 0);
    vertical-align: center;
    display: inline-flex;
}

.logo {
    text-align: left;
    display: inline-flex;
    padding-left: 2%;
}

.menu {
    vertical-align: center;
    text-align: center;
    display: inline-flex;
    padding-left: 73%;
}

h1 {
    vertical-align: center;
    padding-top: 5px;
    padding-right: 1em;
}