.commentBox {
    display: inline-flex;

}

textarea {
    width: 20em;
    height: 2em;
}

.commentButton {
    height: 2em;
    border: none;
    background-color: rgba(253,45,45,1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}